---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-16">
    <SectionTitle
      sectionTitle="Contacto"
      description="¿Tienes una idea, necesitas una solución tecnológica o quieres saber más sobre nuestros servicios? Escríbenos."
    />
    <Form />
  </div>
</Section>