---
import { Image } from "astro:assets";
import Card from "./Card.astro";

import gob from "../../assets/icon6.svg";
import wob from "../../assets/icon7.svg";

const { index, titleTop, titleBottom, img, alt, link } = Astro.props;

const bgImage = typeof img === 'string' ? img : img.src;
---

<Card isUnderline={true}>
  <div
    class="h-[500px] w-full  lg:gap-[60px] grid custom-grid lg:grid-cols-2 lg:grid-rows-1 p-8 sm:p-[50px] rounded-[45px] bg-cover bg-center bg-no-repeat text-white"
    style={`background-image: url(${JSON.stringify(bgImage)})`}
  >
    <div class="flex items-end">
      <a href={link} class="flex items-center gap-3.5">
        <Image src={gob} alt="Go" />
        <span class="hidden sm:block font-medium">Más Información</span>
      </a>
    </div>
  </div>
</Card>

<style>
  .custom-grid {
    grid-template: auto auto;
  }
</style>